/*Fonts*/
$font-stack:arial, helvetica, sans-serif;
$font-standard: "Oxygen", sans-serif;
$font-special: "Oxygen Mono", monospace;

/* colors */
$light-color: #f4f4f4;
/* Color Theme Swatches in Hex */
$color-1: #43F891;
$color-2: #3BD942;
$color-3: #92F04D;
$color-4: #C7D93B;
$color-5: #FAE84D;


