.flipping-card-container{
    perspective: 700px;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    


    h1{
        font-family: $font-standard;
    }

}

.card{
    position: relative;
    color: white;
    text-align: center;
    line-height: 90px;
    width: 200px;
    height: 200px;
    /* background: blue; */
    margin: 20px;
    transition: all 0.6s ease;
    transform-style: preserve-3d;

}

.card:hover {
    transform: rotateY(180deg);
    /* transform: rotateX(180deg); */
}

.front, .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    backface-visibility: hidden;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(250,232,77,1) 19%, rgba(67,248,145,1) 83%);
    border-radius: 100%;
    

}

.back{
    transform: rotateY(180deg);
}

h1{
    margin: 0;
}

.back img{
    
    width: 200px;
    height: 200px;
    border-radius: 100%;
}