// font-awesome icons

// attribute-selector. Tar alla classname med fa- i sig och gör om.
nav [class*="fa-"] {
        // 1.5 rem blir större eftersom texten är satt till 80% av rem i css. 
        font-size: 150%;
        color: $color-5;
         
}


nav h1 [class*="fa-"] {
    color: $color-5;

}

nav h1 [class*="fa-"]:hover {
    color:$color-3;
}


footer [class*="fa-"] {
        // 100% är samma som parent, dvs ul på 3rem 
        font-size: 100%;
        color: $color-5;
}

footer [class*="fa-"]:hover{
    color: #67ef05;
}



