@import "config";
@import "buttons";
@import "icons";
@import "flipping-card";
@import "media";


* {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
    
}

// generic styles for the page

body{
    padding: 0;
    margin: 0;
    font-family: $font-standard;
    background-color:purple;
    color: white;
    // standard size?
    font-size: 1.3rem;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: white;
}

a:hover {
    color: $color-3;
    text-decoration: none;
}

li{
    list-style-type: none;
}

img{
    width: 100%;
}


// navbar

nav{

    font-family: $font-special;
    // font-size: 80%;
    padding: 4rem 1rem;
    
    
    

    h1{
        font-family: $font-standard;
    }
    
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        // gör så att texten wrappar. Måste den användas med flex basis: 100%?
        flex-flow: row wrap;
        // ett annat sätt att sänka font-size responsivt. Är det samma sak som 0.8 rem? om standard är 1?
        font-size: 80%;
        
        
    }

    li:first-child{
        // flex basis gör att innehållet tar upp en hel rad och flyttar ner nästa rad. Måste denna användas tsm med flex-flow: row wrap?
        flex-basis: 100%;
        text-align: center;
    }

    a{
        text-decoration: none;
        // för större klickyta
        padding: 10px;
        // display: block;
    }

    abbr{
        text-decoration: none;
        // för större klickyta
        padding: 10px;
    }

    abbr:hover{
        color: $color-3;
    }
    
}

// header content
#header-intro{
    padding: 4rem 1rem 10rem 1rem;
    padding-bottom: 5rem;
    // centrerar text? men var centrerar texten? Förstår inte riktigt?
    max-width: 1200px;
    margin: 0 auto;
    // for the flipping card
    position: relative;

    p{
        font-size: 1rem;
        line-height: 1.5;
    }

    .name{
        font-family: $font-special;
        font-size: 1rem;

        span{
            display: block;
            font-size: 4rem;
            // font-weight: 300;
            color: $color-1;
        }    
    }

    h2{
        font-size: 4rem;
    }

    abbr{
        text-decoration: none;
        text-transform: uppercase;
    }

    

}

// projects

#projects{
    padding: 4rem 1rem;

    h2{
        font-size: 2.5rem;
        // testning av calc
        margin-bottom: calc(2.5rem * 1.5);
    }

    h4{
        margin: 0;
        font-family: $font-special;
        font-size: 1rem;
    }

    h3{
        color: #43f891;
    } 
    
    ul{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        text-transform: uppercase;
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        flex-flow: row wrap;
    }

    img{
        margin: 2rem 0 4rem 0;
        font-size: 1rem;
        padding: 1rem;
        border-radius: 25px;
        border-top: 1px solid #43F891;
        border-left: 1px solid #43f891;
    }

    // reversed image
    .reverse img{
        order: 2;
    }
}

.projects-text-box{
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.5;
    // var har den sin margin från?
}

// contact 

.contact-wrapper{
    background-color: black;
}

#contact{
    // background-color: black;
    max-width: 400px;
    // width: 400px;
    /* margin: 2rem 0; */
    text-align: center;
    margin: 0 auto;
    padding: 4rem 0;

}


// Footer

footer{
    text-align: center;
    padding: 4rem 0;

    ul{
        padding: 0;
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        gap: 3rem;
        font-size: 3rem;
        
        // gör så att texten wrappar
        flex-flow: row wrap;
        

    }
}

// layout specials: 

// Gradient = https://cssgradient.io/

.gradient-line{
    background: linear-gradient(90deg, rgba(250,232,77,1) 0%, rgba(67,248,145,1) 100%);
    height: 2px;
}

// resume site

.resume{
    font-family: $font-standard;
    padding: 4rem 1rem 10rem 1rem;
    padding-bottom: 5rem;
    max-width: 1200px;
    margin: 0 auto;
    
    h2{
        font-size: 4rem;
    }
}




// media querys. Kunde inte ha som egen media eftersom något måste blivit fel med ordningen?
@media (min-width: 767px) {


    #projects{
        // gör så att texten lägger sig jämnt med ovan section. Dvs section efter navigation.
        max-width: 1200px;
        margin: 0 auto;

        article{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }

        .projects-text {

            order: 2;
            text-align: right;
        }

        ul{
            justify-content: flex-end;
        }

    }

    
}

// just for the flipping card and crown
@media (min-width: 1035px) {
    .flipping-card-container{
        display: block;
        position: absolute;
        right: 125px;
        top: 16px;
        
    }

    .header-crown{
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
    
        span{
            margin: 1rem;
        }
    }

    header div [class*="fa-"]{
        display: block;
    
        
    }

    // .card, .front, .back {
    //     width: 200px;
    //     height: 200px;
        
    // }

    // .back img{
    //     width: 200px;
    //     height: 200px;
    // }



}








